mediapipe
cairocffi==1.0.0
CairoSVG==2.5.2
cffi==1.14.5
cmake==3.18.4.post1
cssselect2==0.4.1
defusedxml==0.7.1
dlib==19.21.1
html5lib==1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.1
opencv-python==4.5.1.48
Pillow==8.2.0
pycparser==2.20
Pyphen==0.10.0
schedule==1.0.0
six==1.15.0
tinycss2==1.1.0
webencodings==0.5.1
